[submodule "ros2-packages/ros2_driver_neobotix_beerpong"]
	path = ros2-packages/ros2_driver_neobotix_beerpong
	url = https://github.com/mathias31415/ros2_driver_neobotix_beerpong.git
[submodule "ros2-packages/neobotix_coordinator"]
	path = ros2-packages/neobotix_coordinator
	url = https://github.com/LeoSc4/neobotix_coordinator.git
[submodule "ros2-packages/ROS2_Realsense_D415C"]
	path = ros2-packages/ROS2_Realsense_D415C
	url = https://github.com/RobinWolf/ROS2_Realsense_D415C.git
[submodule "ros2-packages/Docker_Website_Beerpong"]
	path = ros2-packages/Docker_Website_Beerpong
	url = https://github.com/MauriceDroll/Docker_Website_Beerpong.git